* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Century Gothic', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
    overflow: hidden;
}

.login-container {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .login-container i {
        position: absolute;
        inset: 0;
        border: 2px solid #fff;
        transition: .5s ease-in-out;

    }

    .login-container i:nth-child(1) {
        border-radius: 42% 58% 51% 49% / 32% 55% 45% 60%;
        animation: rotate 12s linear infinite;
    }

    .login-container i:nth-child(2) {
        border-radius: 58% 42% 49% 51% / 55% 32% 68% 45%;
        animation: rotate 7s linear infinite;
    }

    .login-container i:nth-child(3) {
        border-radius: 42% 58% 64% 36% / 55% 68% 32% 45%;
        animation: rotate 10s linear infinite;
    }

    .login-container:hover i:nth-child(1) {
        border: 1px solid #88B702;
        filter: drop-shadow(0 0 15px #88B702)
    }

    .login-container:hover i:nth-child(2) {
        border: 1px solid #535353;
        filter: drop-shadow(0 0 15px #535353)
    }

    .login-container:hover i:nth-child(2) {
        border: 1px solid #fff;
        filter: drop-shadow(0 0 15px #fff)
    }

    .login-container .login {
        position: absolute;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .login-container .login h2 {
        font-size: 2rem;
        color: #fff;
    }

    .login-container .login .imputBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .login-container .login input {
        width: 100%;
        padding: 10px 20px;
        border: 2px solid #88B702;
        border-radius: 20px;
        outline: none;
        background: transparent;
        color: #88B702;
        font-size: 1.2rem;
        filter: drop-shadow(0 0 5px #88B702)
    }

    .login-container .login input::placeholder {
        color: #88B702;
    }

    .login-container .login input[type="submit"] {
        background: #88B702;
        color: #fff;
        cursor: pointer;
        transition: .3s;
        border: none;
    }

    .login-container .login .links {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .login-container .login .links a {
        color: #fff;
        text-decoration: none;
        transition: .3s;
        background: transparent;
        border: none;
        cursor: pointer;
        ;
    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .login-buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: row;
    }

    .google-authentication {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border-radius: 100%;
        border: none;
        overflow: hidden;
        cursor: pointer;
        filter: drop-shadow(0 0 5px #fff)
    }

    .img-google {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        opacity: 1;
        padding-top: 2%;
        overflow: hidden;
        cursor: pointer;
    }

    