/* Dashboard.css */

.dashboard-container {
  display: flex;
  height: 100vh;
}

.menu-container {
  width: 50px;

  background-color: #1f1f1f;
  color: #fff;
  border-radius: 30px;
  border: 2px solid #8a2be2;
  transition: width 0.3s;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  overflow: hidden;
  padding-left: 12px;
}

.menu-container.expanded {
  width: 200px;
}

.menu-container ul {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-direction: column;


}

.menu-container li {
  margin-bottom: 10px;
}

.menu-container ul button {
  background: transparent;
  border: 2px solid transparent;
  margin: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;

  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;

}

.menu-container ul button:hover {
  background-color: transparent;
  border-color: #8a2be2;
  color: #8a2be2;
}

.menu-container ul button svg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  fill: #fff;
  transition: width 0.3s, height 0.3s, fill 0.3s;
}

.menu-container.expanded ul button svg {
  width: 32px;
  height: 32px;
}

.menu-container ul button span {
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s, color 0.3s;
}

.menu-container.expanded ul button span {
  opacity: 1;
}

.menu-container ul .config-button {
  margin-top: auto;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #2a2a2a;
  color: #fff;
}

.Configurações {
  margin-top: auto
}
.Home {
  margin-top: 24px;
}
.lista {
  height: 100%;
}
