.painel-de-controle-container {

  position: absolute;
  top: 0;
  
  width: 100vw;

  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #1f1f1f;
  color: #fff;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

.menu-container {
  width: 60px;
  background-color: #1f1f1f;
  color: #fff;
  border-radius: 30px;
  border: 2px solid #8a2be2;
  transition: width 0.3s;
  margin-top: 20px;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  padding: 5px; /* Correção na propriedade de padding */
}

.expandido {
  width: auto;
  transition: width 0.3s;
}

.menu-container ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.menu-container li {
  margin-bottom: 10px; /* Alteração para espaçamento inferior entre os itens */
}

.menu-container ul button {
  background: transparent;
  border: 2px solid transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
}

.menu-container ul button:hover span{
  color: #8a2be2;
}
.menu-container ul button:hover svg {
  fill: #8a2be2;
}

.menu-container ul button svg {
  width: 24px;
  height: 24px;
  fill: #fff;
  transition: width 0.3s, height 0.3s, fill 0.3s;
}

.menu-container.expandido ul button svg {
  width: 32px;
  height: 32px;
}

.menu-container ul button span {
  margin-left: 10px;
  color: #fff;
}

.menu-container.expandido ul button span {
  display: inline; /* Alteração para exibir o texto quando expandido */
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #2a2a2a;
  color: #fff;
}
