body {
  background: conic-gradient(from 300deg at 110% -20%, #88b701, #85b203, #7ca609, #6e930f, #5e7c13, #4d6414, #3c4c14, #2c3612, #1e230e, #121407, #050602, #000000);
}

.app-container {
  height: 100vh;
  width: 100vw;
  display: flex;
}